<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<a href="/viewmyFlights">View My Flights</a>
	<br />
	<a href="/searchforFlights">Search For Flights/Purchase Tickets</a>
	<br />
	<a href="/cancelTicket">Cancel Ticket</a>
	<br />
	<a href="/ratecommentflight">Rate Previous Flight</a>
	<br />
	<a href="/checktotalspent">Check Total Spent</a>
	<br />
	<br />
	<a href="/logout">Logout</a>

</body>


</html>
