<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
    Total Amount of Revenue in the Last Month: $
    {% if input %}
    {{input['TotalMonth']}}
    {% endif %}
    {% if not input %}
    {'$0'}
    {% endif %}

    <br />Total Amount of Revenue in the Last Year: $
    {% if input2 %}
    {{input2['TotalYear']}}
    {% endif %}
    {% if not input2 %}
    {'$0'}
    {% endif %}
    <br />
    <br />
    <a href="/homeforStaff">Go back</a>
</body>


</html>
